<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.em.rest.mapper.StudentClassMapper" >


    <select id="getStudentClass" parameterType="java.lang.Integer" resultMap="studentclass" >
        select distinct
        A.student_id, A.class_name, A.zks, A.ywcks, A.school_id, A.campus_id,A.class_id,
        B.teacher_name
        from t_class_student A, t_course_timetable B
        where A.class_id = B.class_id
        AND  A.student_id = #{id}
    </select>

    <resultMap type="com.em.rest.entity.T_class_student" id="studentclass" >
        <id column="student_id" property="student_id"/>
        <result column="student_id" property="student_id"/>
        <result column="class_name" property="class_name"/>
        <result column="zks" property="zks"/>
        <collection column="id" property="courses" ofType="com.em.rest.entity.T_course_timetable">
            <id column="class_id" property="class_id"/>
            <result column="teacher_name" property="teacher_name"/>
        </collection>
    </resultMap>

</mapper>