<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Company_infoMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_COMPANY_INFO(
			KEY,	
			VALUE,	
			STATE,	
			COMPANY_INFO_ID
		) values (
			#{KEY},	
			#{VALUE},	
			#{STATE},	
			#{COMPANY_INFO_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_COMPANY_INFO
		where 
			COMPANY_INFO_ID = #{COMPANY_INFO_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_COMPANY_INFO
			set 
				KEY = #{KEY},
				VALUE = #{VALUE},
				STATE = #{STATE},
			COMPANY_INFO_ID = COMPANY_INFO_ID
			where 
				COMPANY_INFO_ID = #{COMPANY_INFO_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			TB_COMPANY_INFO.KEY,	
			TB_COMPANY_INFO.VALUE,	
			TB_COMPANY_INFO.STATE,	
			TB_COMPANY_INFO.COMPANY_INFO_ID
		from 
			TB_COMPANY_INFO
		where 
			TB_COMPANY_INFO.COMPANY_INFO_ID = #{COMPANY_INFO_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.KEY,	
				a.VALUE,	
				a.STATE,	
				a.COMPANY_INFO_ID
		from 
				TB_COMPANY_INFO a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.KEY,	
				a.VALUE,	
				a.STATE,	
				a.COMPANY_INFO_ID
		from 
				TB_COMPANY_INFO a
	</select>
	<!-- 下拉框式企业信息数据 -->
	<select id="dropdownData" parameterType="pd" resultType="pd">
		SELECT
			tb_company_info.KEY as value,	
			tb_company_info.VALUE as label
		FROM tb_company_info
		where tb_company_info.STATE =1 
		ORDER BY COMPANY_INFO_ID DESC
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_COMPANY_INFO
		where 
			COMPANY_INFO_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>