<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Subscriber_infoMapper">
	<!--移动台使用情况-->
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_SUBSCRIBER_INFO(
			TASKID,	
			PROVINCEID,	
			CITYID,	
			SYSTEMNAME,	
			SYSTEMID,	
			ACCOUNT,	
			DISCARD,	
			ACTIVE,	
			OPDATE,	
			INTIME,	
			SUBSCRIBER_INFO_ID
		) values (
			#{TASKID},	
			#{PROVINCEID},	
			#{CITYID},	
			#{SYSTEMNAME},	
			#{SYSTEMID},	
			#{ACCOUNT},	
			#{DISCARD},	
			#{ACTIVE},	
			#{OPDATE},	
			#{INTIME},	
			#{SUBSCRIBER_INFO_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_SUBSCRIBER_INFO
		where 
			SUBSCRIBER_INFO_ID = #{SUBSCRIBER_INFO_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_SUBSCRIBER_INFO
			set 
				TASKID = #{TASKID},
				PROVINCEID = #{PROVINCEID},
				CITYID = #{CITYID},
				SYSTEMNAME = #{SYSTEMNAME},
				SYSTEMID = #{SYSTEMID},
				ACCOUNT = #{ACCOUNT},
				DISCARD = #{DISCARD},
				ACTIVE = #{ACTIVE},
				OPDATE = #{OPDATE},
				INTIME = #{INTIME},
			SUBSCRIBER_INFO_ID = SUBSCRIBER_INFO_ID
			where 
				SUBSCRIBER_INFO_ID = #{SUBSCRIBER_INFO_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			TASKID,	
			PROVINCEID,	
			CITYID,	
			SYSTEMNAME,	
			SYSTEMID,	
			ACCOUNT,	
			DISCARD,	
			ACTIVE,	
			OPDATE,	
			INTIME,	
			SUBSCRIBER_INFO_ID
		from 
			TB_SUBSCRIBER_INFO
		where 
			SUBSCRIBER_INFO_ID = #{SUBSCRIBER_INFO_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.TASKID,	
				a.PROVINCEID,	
				a.CITYID,	
				a.SYSTEMNAME,	
				a.SYSTEMID,	
				a.ACCOUNT,	
				a.DISCARD,	
				a.ACTIVE,	
				a.OPDATE,	
				a.INTIME,	
				a.SUBSCRIBER_INFO_ID
		from 
				TB_SUBSCRIBER_INFO a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.TASKID,	
				a.PROVINCEID,	
				a.CITYID,	
				a.SYSTEMNAME,	
				a.SYSTEMID,	
				a.ACCOUNT,	
				a.DISCARD,	
				a.ACTIVE,	
				a.OPDATE,	
				a.INTIME,	
				a.SUBSCRIBER_INFO_ID
		from 
				TB_SUBSCRIBER_INFO a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_SUBSCRIBER_INFO
		where 
			SUBSCRIBER_INFO_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!-- 判断存在性 -->
	<select id="findCount" parameterType="pd" resultType="java.lang.Integer">
		select 			
			count(SUBSCRIBER_INFO_ID) as COUNT
		from 
			TB_SUBSCRIBER_INFO 
		where 
            TASKID = #{TASKID}
        and
            PROVINCEID = #{PROVINCEID}
        and
            CITYID = #{CITYID}
        and
            SYSTEMID = #{SYSTEMID}    
        and
            OPDATE = #{OPDATE}          
	</select>


	<!-- 修改 -->
	<update id="updateData" parameterType="pd">
		update  TB_SUBSCRIBER_INFO
			set 
				ACCOUNT = #{ACCOUNT},
				DISCARD = #{DISCARD},
				ACTIVE = #{ACTIVE},
				INTIME = #{INTIME},
				SUBSCRIBER_INFO_ID = SUBSCRIBER_INFO_ID
			where 
				TASKID = #{TASKID}
        	and
            	PROVINCEID = #{PROVINCEID}
        	and
            	CITYID = #{CITYID}
        	and
            	SYSTEMID = #{SYSTEMID}    
        	and
            	OPDATE = #{OPDATE}  
	</update>
	
	<!-- 删除-->
	<delete id="deleteByCityInfo" parameterType="pd">
		delete from TB_SUBSCRIBER_INFO
		where 
			PROVINCEID = #{PROVINCEID}
		and
		    CITYID = #{CITYID}	
	</delete>
</mapper>